# importation des bibliothèques

In [1]:
# importation des biliothèques
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importation des données

In [2]:
data = pd.read_csv('../../beer_reviews.csv')

In [3]:
data.shape

(1586614, 13)

In [4]:
data.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [5]:
from preprocessing import find_max_features_by_features
find_max_features_by_features(data,'brewery_name','beer_abv')

'Schorschbräu'

In [6]:
from preprocessing import transform_timestamp_to_date
data = transform_timestamp_to_date(data,pd)
data.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,date
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,2009-02-16 20:57:03
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,2009-03-01 13:44:57
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,2009-03-01 14:10:04
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,2009-02-15 19:12:25
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,2010-12-30 18:53:26

In [7]:
from preprocessing import find_best_beer_by_review_overall
find_best_beer_by_review_overall(data)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,date
2038,1199,Founders Brewing Company,1275098817,4.5,4.0,4.0,rye726,Fruit / Vegetable Beer,4.5,4.5,Founders Cerise,6.5,48911,2010-05-29 02:06:57
2261,1199,Founders Brewing Company,1287440810,4.0,3.5,4.0,injuredreserve,Rye Beer,4.5,4.5,Founders Red's Rye PA,6.6,16074,2010-10-18 22:26:50
4913,1199,Founders Brewing Company,1276656773,4.0,4.0,4.5,chalsk,American Double / Imperial Stout,4.0,3.5,Founders Breakfast Stout,8.3,11757,2010-06-16 02:52:53
5173,1199,Founders Brewing Company,1224038256,3.5,4.0,4.0,rye726,Fruit / Vegetable Beer,3.5,4.0,Founders Rübæus,6.9,23474,2008-10-15 02:37:36
5395,1199,Founders Brewing Company,1301178258,4.5,3.5,4.5,TheDTrain,American Double / Imperial IPA,4.0,4.5,Founders Double Trouble,9.4,34146,2011-03-26 22:24:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144421,863,Russian River Brewing Company,1276468117,4.5,5.0,4.0,VoiceOfTheSoul,American IPA,4.0,5.0,Registration Ale,7.5,59163,2010-06-13 22:28:37
1144422,863,Russian River Brewing Company,1276458466,4.5,4.5,4.5,callmemickey,American IPA,4.5,5.0,Registration Ale,7.5,59163,2010-06-13 19:47:46
1144423,863,Russian River Brewing Company,1276448125,4.5,5.0,4.5,regspeir,American IPA,5.0,5.0,Registration Ale,7.5,59163,2010-06-13 16:55:25
1144424,863,Russian River Brewing Company,1276446366,4.5,5.0,4.0,rfgetz,American IPA,4.0,4.5,Registration Ale,7.5,59163,2010-06-13 16:26:06
1144425,863,Russian River Brewing Company,1276444159,5.0,5.0,5.0,aglose45,American IPA,5.0,5.0,Registration Ale,7.5,59163,2010-06-13 15:49:19

In [16]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [10]:
spark_session = SparkSession.builder.appName('beer_consumption_tp').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/14 17:41:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
df = spark_session.read.csv("../../beer_reviews.csv", header=True, inferSchema=True)

In [13]:
df.head()

Row(brewery_id=10325, brewery_name='Vecchio Birraio', review_time=1234817823, review_overall=1.5, review_aroma=2.0, review_appearance=2.5, review_profilename='stcules', beer_style='Hefeweizen', review_palate=1.5, review_taste=1.5, beer_name='Sausa Weizen', beer_abv=5.0, beer_beerid=47986)

In [20]:
res = df.groupBy('brewery_id').agg(F.mean('review_aroma').alias('mean_review_aroma'),
                               F.mean('review_appearance').alias('mean_review_appearance'),
                                 F.mean('review_palate').alias('mean_review_palate'),
                                    F.mean('review_taste').alias('mean_review_taste')).toPandas()

In [21]:
res.head()

,brewery_id,mean_review_aroma,mean_review_appearance,mean_review_palate,mean_review_taste
0,16386,3.616959,3.751462,3.536550,3.573099
1,1127,3.458333,3.666667,3.583333,3.645833
2,20268,3.663043,3.760870,3.619565,3.782609
3,11710,3.375000,3.333333,3.375000,3.416667
4,24355,3.865116,3.927907,3.746512,3.804651

In [25]:
df.filter(F.col('brewery_id') == 10325).head(5)

[Row(brewery_id=10325, brewery_name='Vecchio Birraio', review_time=1234817823, review_overall=1.5, review_aroma=2.0, review_appearance=2.5, review_profilename='stcules', beer_style='Hefeweizen', review_palate=1.5, review_taste=1.5, beer_name='Sausa Weizen', beer_abv=5.0, beer_beerid=47986),
 Row(brewery_id=10325, brewery_name='Vecchio Birraio', review_time=1235915097, review_overall=3.0, review_aroma=2.5, review_appearance=3.0, review_profilename='stcules', beer_style='English Strong Ale', review_palate=3.0, review_taste=3.0, beer_name='Red Moon', beer_abv=6.2, beer_beerid=48213),
 Row(brewery_id=10325, brewery_name='Vecchio Birraio', review_time=1235916604, review_overall=3.0, review_aroma=2.5, review_appearance=3.0, review_profilename='stcules', beer_style='Foreign / Export Stout', review_palate=3.0, review_taste=3.0, beer_name='Black Horse Black Beer', beer_abv=6.5, beer_beerid=48215),
 Row(brewery_id=10325, brewery_name='Vecchio Birraio', review_time=1234725145, review_overall=3.0, review_aroma=3.0, review_appearance=3.5, review_profilename='stcules', beer_style='German Pilsener', review_palate=2.5, review_taste=3.0, beer_name='Sausa Pils', beer_abv=5.0, beer_beerid=47969)]